<a href="https://colab.research.google.com/github/Yi-Wei-Lin/Tibame_ML_20210602/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
# DataFrame: 表格    Series: 一行/一列   (.apply 差異)
df = pd.DataFrame(iris["data"],
      columns=iris["feature_names"])
# df["ans"] = -1 全部欄位變-1
df["ans"] = iris["target"]
df.to_csv("iris.csv", encoding="utf-8", index=False)
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  ans
0                  5.1               3.5  ...               0.2    0
1                  4.9               3.0  ...               0.2    0
2                  4.7               3.2  ...               0.2    0
3                  4.6               3.1  ...               0.2    0
4                  5.0               3.6  ...               0.2    0
..                 ...               ...  ...               ...  ...
145                6.7               3.0  ...               2.3    2
146                6.3               2.5  ...               1.9    2
147                6.5               3.0  ...               2.0    2
148                6.2               3.4  ...               2.3    2
149                5.9               3.0  ...               1.8    2

[150 rows x 5 columns]

In [4]:
df.drop(["ans"], axis=1) #原表格不會被破壞

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
# sklearn前:用pandas.DataFrame (split後會空行列之類的)
# sklearn後:用np.array
import numpy as np
from sklearn.model_selection import train_test_split
# x,y =df.drop(["ans"], axis=1), df["ans"] #上面的意思
x,y =np.array(df.drop(["ans"], axis=1)), np.array(df["ans"])

# 90%x, 10%x, 90%y, 10%y
x_train, x_test, y_train, y_test= train_test_split(
    x,
    y,
    test_size=0.1) # 如果加 random_state 會產生隨機固定結果
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)
y_test

(135, 4)
(15, 4)
(135,)
(15,)

array([1, 2, 1, 2, 2, 0, 0, 1, 2, 0, 1, 1, 1, 1, 1])