<a href="https://colab.research.google.com/github/Yi-Wei-Lin/Tibame_ML_20210602/blob/main/DL_Imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# urllib 方法
from urllib.request import urlretrieve
url = "http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz"
urlretrieve(url, "IMDB.tar.gz")

#另一種方法 !wget
!wget 'http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz' 

# 類似解壓縮的檔名
!tar xvzf IMDB.tar.gz

In [49]:
import glob
import pandas as pd
df = pd.DataFrame(columns=["content", "sentiment"])
for fn in glob.glob("aclImdb/train/pos/*.txt"):
  f = open(fn, "r", encoding="utf-8")
  content = f.read()
  f.close()
  s = pd.Series([content, 1], index=["content", "sentiment"])
  df = df.append(s, ignore_index=True)
for fn in glob.glob("aclImdb/train/neg/*.txt"):
  f = open(fn, "r", encoding="utf-8")
  content = f.read()
  f.close()
  s = pd.Series([content, 0], index=["content", "sentiment"])
  df = df.append(s, ignore_index=True)
df

                                                 content sentiment
0      This movie is excellent. I found it very inter...         1
1      this is one amazing movie!!!!! you have to rea...         1
2      Raggedy Ann and Raggedy Andy THE MOVIE is abou...         1
3      Master cinéaste Alain Resnais likes to work wi...         1
4      I love this film. It is well written and acted...         1
...                                                  ...       ...
24995  First: I bought it at the video store. Second:...         0
24996  This movie starts slow, then tapers off. After...         0
24997  This has to be one of the worst films of the 1...         0
24998  When I was little my parents took me along to ...         0
24999  I really don't understand all these positive u...         0

[25000 rows x 2 columns]

In [50]:
testdf = pd.DataFrame(columns=["content", "sentiment"])
for fn in glob.glob("aclImdb/test/pos/*.txt"):
  f = open(fn, "r", encoding="utf-8")
  content = f.read()
  f.close()
  s = pd.Series([content, 1], index=["content", "sentiment"])
  testdf = testdf.append(s, ignore_index=True)
for fn in glob.glob("aclImdb/test/neg/*.txt"):
  f = open(fn, "r", encoding="utf-8")
  content = f.read()
  f.close()
  s = pd.Series([content, 0], index=["content", "sentiment"])
  testdf = testdf.append(s, ignore_index=True)
testdf

                                                 content sentiment
0      This is a charming movie starring everyone's f...         1
1      I never dreamed when I started watching this D...         1
2      This is a little film with a big heart. Excell...         1
3      As others that have commented around the web.....         1
4      We saw La Spettatrice at the Syracuse Internat...         1
...                                                  ...       ...
24995  Set in 1945, Skenbart follows a failed Swedish...         0
24996  I've seen every episode, and the characters ha...         0
24997  I've always loved horror flicks. From some of ...         0
24998  This mess starts off with a real tank running ...         0
24999  A young man falls in love with a princess but ...         0

[25000 rows x 2 columns]

In [52]:
from keras_preprocessing.text import Tokenizer
# 先創造你care的詞的詞典, 1000頁的的詞典(等一下每個詞都是1000維度的向量)
tok = Tokenizer(num_words=1000)
tok.fit_on_texts(df["content"])

In [ ]:
# 到底1000個詞是哪一個1000個詞(抓出次數最多的)
tok.word_index # 都是1000維度

In [64]:
# 把每一篇文章的每一個詞都轉化成為數字(1000維度的向量)
train_seq = tok.texts_to_sequences(df["content"])
test_seq = tok.texts_to_sequences(testdf["content"])
# 因為每一篇文章不一樣多, 出現最多詞的文章1496個詞, 其他文章就會補上NaN
pd.DataFrame(train_seq)

       0     1     2     3     4     5     ...  1490  1491  1492  1493  1494  1495
0        11    17     6   318    10   255  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11     6    28   477    17    22  ...   NaN   NaN   NaN   NaN   NaN   NaN
2         2     1    17     6    41    12  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         5   154    16   145   153    34  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        10   116    11    19     9     6  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    83    10     9    30     1   371  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    11    17   514   547    92   122  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    11    44     5    27    28     4  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    51    10    13   114    58   843  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    10    63    89   388    29   131  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1496 columns]

In [65]:
# 截長補短到每一篇文章都是同樣詞數
from keras.preprocessing.sequence import pad_sequences
train_pad = pad_sequences(train_seq, maxlen=100) # 擷取最後100個詞, 比較貼近人類情緒!?
test_pad = pad_sequences(test_seq, maxlen=100) 
pd.DataFrame(train_pad) # 0 就是補短

        0    1    2    3   4   5    6   ...   93   94   95   96   97   98   99
0        0    0    0    0   0   0    0  ...    5    1  174    2  104   93   53
1        0    0    0    0   0   0    0  ...   22  354    1   17    2  354    1
2       21   32  853  705  91   3  386  ...    3    5  398    8   58    4    2
3       33  254   82  770   3  22    8  ...    1  135   11   19   67  711   27
4        9  815    9  120   9   5  126  ...  103   11  250  651    2  438   19
...    ...  ...  ...  ...  ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...
24995    0    0    0    0   0   0    0  ...   40  190    1  371    3    2    9
24996  175  121    1    4  11  19   97  ...  293   41  888   81   43  156   69
24997    1  308    9   13  30  72   40  ...   32  531    3  224    4  126  110
24998  268   20    2   20   5   1  210  ...  894  900   40   11   19  112  571
24999    0    0    0    0   0   0    0  ...   11  137  103    3   39   46  625

[25000 rows x 100 columns]

In [85]:
from keras.models import Sequential
from keras.layers import Dense, Flatten, Embedding, Dropout
model = Sequential()
model.add(Embedding(input_dim=1000, output_dim=32, input_length=100))
model.add(Flatten())
model.add(Dense(256, activation="relu"))
model.add(Dropout(0.25)) # 隨機 drop 神經元 (類似隨機森林)
model.add(Dense(1, activation="sigmoid"))
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_4 (Embedding)      (None, 100, 32)           32000
_________________________________________________________________
flatten_4 (Flatten)          (None, 3200)              0
_________________________________________________________________
dense_8 (Dense)              (None, 256)               819456
_________________________________________________________________
dropout (Dropout)            (None, 256)               0
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 257
=================================================================
Total params: 851,713
Trainable params: 851,713
Non-trainable params: 0
_________________________________________________________________

In [86]:
model.compile(loss="binary_crossentropy",
      optimizer="adam",
      metrics=["accuracy"])

In [87]:
import numpy as np
s = np.array(df["sentiment"].astype("float")).reshape(25000, 1) #異常錯誤的處理
model.fit(train_pad,
    s,
    batch_size=200,
    epochs=3,
    validation_split=0.1)

Epoch 1/3
113/113 [==============================] - 6s 36ms/step - loss: 0.6160 - accuracy: 0.6295 - val_loss: 0.4167 - val_accuracy: 0.8060
Epoch 2/3
113/113 [==============================] - 4s 33ms/step - loss: 0.3143 - accuracy: 0.8672 - val_loss: 0.4588 - val_accuracy: 0.7992
Epoch 3/3
113/113 [==============================] - 4s 34ms/step - loss: 0.2224 - accuracy: 0.9169 - val_loss: 0.4674 - val_accuracy: 0.8044

In [88]:
ss = np.array(testdf["sentiment"].astype("float")).reshape(25000, 1) #異常錯誤的處理
model.evaluate(test_pad, ss)

782/782 [==============================] - 3s 4ms/step - loss: 0.4236 - accuracy: 0.8189

[0.42357200384140015, 0.818880021572113]

In [89]:
# 儲存模型
model.save("sentiment.h5")

In [91]:
# 讀取模型(如果你要繼續訓練, 不用重新 compile)
from keras.models import load_model
l = load_model("sentiment.h5")
l.evaluate(test_pad, ss)

782/782 [==============================] - 3s 4ms/step - loss: 0.4236 - accuracy: 0.8189

[0.42357200384140015, 0.818880021572113]

In [98]:
# 你可以選擇中間層當作輸出
# model.layers[0].output
# model.input
from keras.models import Model
partial = Model(model.input, model.layers[0].output)
# [0]取出第一篇文章 100個詞(32維度向量)
partial.predict(test_pad)[0][0]

array([-0.00728079, -0.00108213,  0.01449054, -0.00507213,  0.00659759,
        0.01641758,  0.00327567, -0.00949548, -0.00515725,  0.00851019,
        0.01064254, -0.00927078,  0.01895639,  0.0318676 , -0.01420996,
       -0.03000237, -0.01805029,  0.01891001, -0.00066478, -0.00392777,
        0.01433933, -0.00270458, -0.013021  , -0.01876394,  0.02829585,
        0.00892029,  0.00112664, -0.01254668,  0.00539812, -0.00048925,
       -0.02664521, -0.00683044], dtype=float32)