<a href="https://colab.research.google.com/github/Yi-Wei-Lin/Tibame_ML_20210602/blob/main/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 3s 0us/step

In [3]:
import os
import glob
dn = os.path.split(dataset)[0]
fn = os.path.join(dn, "aclImdb", "train", "pos", "*")
# print(fn)
fns = glob.glob(fn)
with open(fns[0], "r", encoding="utf-8") as f:
  print(f.read())

The Perfect Son is a story about two 30-something brothers, one who is seemingly "perfect" and the other who is basically a screw-up, frequently landing himself in drug rehab centers. After the death of their father, the two are brought together after a long absence and the usual sibling rivalry resurfaces. It isn't until the "perfect" brother makes the startling revelation that he has AIDS that the irresponsible younger brother finally makes a move to get his life in order, and take some responsibility.<br /><br />The movie does a nice job of chronicling the younger brother's "comeback", though it may seem a bit far-fetched at times (beating drug addiction is never so easy). What makes the film more tender is the treatment of AIDS, a topic that has become somewhat passe in cinema over the last 5-10 years. And also the development of an almost sweet relationship between the two formerly feuding brothers is very believable and well-done. The two main actors were both very competent, if not terribly charismatic.<br /><br />A solid first feature effort from director and writer Leonard Farlinger whose own brother died of AIDS. The ending is nicely done as well.<br /><br />

In [4]:
import pandas as pd
def get_data(base):
  contents, target = [], []
  dn = os.path.split(dataset)[0]
  fn = os.path.join(dn, "aclImdb", base, "pos", "*.txt")
  fns = glob.glob(fn)
  for p in fns:
    with open(p, "r", encoding="utf-8") as f:
      contents.append(f.read())
      target.append(1)
  fn = os.path.join(dn, "aclImdb", base, "neg", "*.txt")
  fns = glob.glob(fn)
  for p in fns:
    with open(p, "r", encoding="utf-8") as f:
      contents.append(f.read())
      target.append(0)
  df = pd.DataFrame({
      "contents":contents,
      "ans":target
  })
  return df
train_df = get_data(base="train")
test_df = get_data(base="test")

In [5]:
# Step1 : Tokenize
# 我們絕對不會使用0. 因為0是拿來做padding
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["contents"])

In [6]:
# Step2. Sequenize
# tok.word_index
# tok.index_word
# 文章(token) -> sequence
x_train_seq = tok.texts_to_sequences(train_df["contents"])
x_test_seq = tok.texts_to_sequences(test_df["contents"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         1   400   489     6     3    62  ...   NaN   NaN   NaN   NaN   NaN   NaN
1      1504   339    43     4   467   378  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        11     6     3    17    12    44  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        10   116     1    99     2   202  ...   NaN   NaN   NaN   NaN   NaN   NaN
4      1180  1237  2016  2823  2096    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     1    17    13     3   391    19  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996   161     7     7   282     7     7  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    11     6     3    52  1029    19  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998   722   825  1529     8    10  1385  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999   592    11    13     1   246    19  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [7]:
SEQ_LEN = 512

In [8]:
# Stetp3. Padding
from  tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad  = pad_sequences(x_train_seq, maxlen=SEQ_LEN)
x_test_pad  = pad_sequences(x_test_seq, maxlen=SEQ_LEN)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...   506   507   508   509  510   511
0        0    0    0    0    0    0  ...  1777   221    14    70    7     7
1        0    0    0    0    0    0  ...   877     6   304  1093    2  1906
2        0    0    0    0    0    0  ...  1033     2     1   357    6   592
3        0    0    0    0    0    0  ...   249    18  1395    47    6   207
4        0    0    0    0    0    0  ...   467   287     3   647   39   104
...    ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...
24995    0    0    0    0    0    0  ...    27   125  2496   827   73   430
24996    0    0    0    0    0    0  ...    59    76     1   672    4  1563
24997    0    0    0    0    0    0  ...   388    11   944     4    3    19
24998    0    0    0    0    0    0  ...     3  1445     8     1  225    69
24999    0    0    0    0    0    0  ...     2     8    11    19  161   568

[25000 rows x 512 columns]

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense
layers = [
    # 每個詞彙都有128個係數, 3001 * 128 = 384128
    # !!!tokenize 有多少個可調(上面要記得調): 3000 -> 4000
    # !!!詞向量維度可調(根據問題調, 簡單小/困難大): 128 -> 256
    # !!!input_length(上面要記得調) : 512 -> 256
    Embedding(3001, 128, mask_zero=True, input_length=SEQ_LEN),
    GlobalAveragePooling1D(),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [10]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow.keras.optimizers import Adam
model.compile(loss=SparseCategoricalCrossentropy(),
        optimizer=Adam(),
        metrics=["accuracy"])

In [11]:
import numpy as np
y_train = np.array(train_df["ans"])
y_test = np.array(test_df["ans"])

In [12]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
# validation_split : 切出一些驗證資料來做驗證(0.1:54000筆資料訓練)
# epochs: 看幾輪(10輪: 54000 * 10)
# batch_size: 看了多少筆再做一次梯度調整(看圖片大小, 圖片小:200, 圖片大:20)
# 200batch, 10epochs: 54000 * 10 / 200 -> 2700次(梯度調整)
# verbose: 0(無聲) 1(最詳細) 2(沒有進度條)
callback = [
    EarlyStopping(patience=5, restore_best_weights=True),
    ModelCheckpoint("imdb.h5", save_best_only=True)
]
model.fit(x_train_pad,
      y_train,
      validation_split=0.1,
      epochs=100,
      batch_size=200,
      verbose=2,
      callbacks=callback)

Epoch 1/100
113/113 - 7s - loss: 0.6346 - accuracy: 0.6431 - val_loss: 0.6416 - val_accuracy: 0.6340
Epoch 2/100
113/113 - 6s - loss: 0.4667 - accuracy: 0.8274 - val_loss: 0.4419 - val_accuracy: 0.8200
Epoch 3/100
113/113 - 6s - loss: 0.3631 - accuracy: 0.8652 - val_loss: 0.3767 - val_accuracy: 0.8408
Epoch 4/100
113/113 - 8s - loss: 0.3127 - accuracy: 0.8820 - val_loss: 0.3503 - val_accuracy: 0.8484
Epoch 5/100
113/113 - 10s - loss: 0.2834 - accuracy: 0.8921 - val_loss: 0.3354 - val_accuracy: 0.8516
Epoch 6/100
113/113 - 9s - loss: 0.2639 - accuracy: 0.8985 - val_loss: 0.3229 - val_accuracy: 0.8576
Epoch 7/100
113/113 - 8s - loss: 0.2494 - accuracy: 0.9039 - val_loss: 0.2947 - val_accuracy: 0.8772
Epoch 8/100
113/113 - 8s - loss: 0.2390 - accuracy: 0.9087 - val_loss: 0.3177 - val_accuracy: 0.8636
Epoch 9/100
113/113 - 10s - loss: 0.2302 - accuracy: 0.9114 - val_loss: 0.3579 - val_accuracy: 0.8476
Epoch 10/100
113/113 - 8s - loss: 0.2233 - accuracy: 0.9142 - val_loss: 0.3611 - val_accuracy: 0.8496
Epoch 11/100
113/113 - 6s - loss: 0.2171 - accuracy: 0.9165 - val_loss: 0.3327 - val_accuracy: 0.8620
Epoch 12/100
113/113 - 6s - loss: 0.2126 - accuracy: 0.9185 - val_loss: 0.2979 - val_accuracy: 0.8828

In [13]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 4s 5ms/step - loss: 0.2919 - accuracy: 0.8810

[0.2919420599937439, 0.8809999823570251]

In [14]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense
layers = [
    # 每個詞彙都有128個係數, 3001 * 128 = 384128
    # !!!tokenize 有多少個可調(上面要記得調): 3000 -> 4000
    # !!!詞向量維度可調(根據問題調, 簡單小/困難大): 128 -> 256
    # !!!input_length(上面要記得調) : 512 -> 256
    Embedding(3001, 128, mask_zero=True)
]
w2v = Sequential(layers)
w2v.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 128)         384128
=================================================================
Total params: 384,128
Trainable params: 384,128
Non-trainable params: 0
_________________________________________________________________

In [15]:
w = model.layers[0].get_weights()
w2v.layers[0].set_weights(w)

In [26]:
from scipy.spatial.distance import cosine
from numpy.linalg import norm
tok1 = tok.word_index["scary"]
word1 = [[tok1]]
v1 = w2v.predict(word1)[0][0]
tok2 = tok.word_index["horror"]
word2 = [[tok2]]
v2 = w2v.predict(word2)[0][0]
# 相似度 scipy : 1-cos -> 1-(1-cos) 只想要 cos 的方法
# cos: -1反向相似 / 0不相干 / 1正面相似, 0.5以上蠻像的兩個詞
print("Cos:",1 - cosine(v1,v2))
print("Cos:",np.dot(v1, v2) / (norm(v1)*norm(v2)))

Cos: 0.7462731003761292
Cos: 0.74627316