<a href="https://colab.research.google.com/github/Yi-Wei-Lin/Tibame_ML_20210602/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ml0602/raw/main/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ml0602/raw/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7f391deb3550>)

In [19]:
import pandas as pd
train_df = pd.read_csv("train.csv", encoding="utf-8")
test_df = pd.read_csv("test.csv", encoding="utf-8")

In [ ]:
data = pd.concat([train_df, test_df], ignore_index=True)
data = data.drop(["PassengerId", "Survived"], axis=1)
data

In [21]:
na = data.isna().sum()
# Series[帶入跟你的資料筆數一樣多True/False list]
# na[na>0] 是篩選操作
na[na>0].sort_values(ascending=False) # ascending=False 降序 True 升序

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [23]:
# s = pd.Series([1,2,3])
# def func(n):
#   return n * n
# s.apply(lambda  n:n*n) #lambda(無名函式):如果只使用一次&功能行數不多, 可以用 lambda

0    1
1    4
2    9
dtype: int64

In [27]:
def cabin_head(s):
  if not pd.isna(s):
    return s[0]
data["Cabin"] = data["Cabin"].apply(cabin_head)

In [30]:
dic = data["Ticket"].value_counts()
data["Ticket"] = data["Ticket"].apply(lambda t:dic[t])

In [36]:
# 補缺失值(類別:最常出現)[!如果一堆測試資料, 不要重算, 直接補S]
most = data["Embarked"].value_counts().idxmax()  #找 index 最大值
data["Embarked"] = data["Embarked"].fillna(most)
na = data.isna().sum()
na[na>0].sort_values(ascending=False)

Cabin    1014
Age       263
Fare        1
dtype: int64

In [40]:
# 補缺失值(數值:中位數)
med = data.median().drop(["Pclass"])
data = data.fillna(med)
na = data.isna().sum()
na[na>0].sort_values(ascending=False)

Cabin    1014
dtype: int64