<a href="https://colab.research.google.com/github/Yi-Wei-Lin/Tibame_ML_20210602/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ml0602/raw/main/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ml0602/raw/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7fb0f4175850>)

In [2]:
import pandas as pd
train_df = pd.read_csv("train.csv", encoding="utf-8")
test_df = pd.read_csv("test.csv", encoding="utf-8")

In [3]:
data = pd.concat([train_df, test_df], ignore_index=True)
data = data.drop(["PassengerId", "Survived"], axis=1)
data

      Pclass                                               Name  ... Cabin  Embarked
0          3                            Braund, Mr. Owen Harris  ...   NaN         S
1          1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2          3                             Heikkinen, Miss. Laina  ...   NaN         S
3          1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4          3                           Allen, Mr. William Henry  ...   NaN         S
...      ...                                                ...  ...   ...       ...
1304       3                                 Spector, Mr. Woolf  ...   NaN         S
1305       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
1306       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
1307       3                                Ware, Mr. Frederick  ...   NaN         S
1308       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [4]:
na = data.isna().sum()
# Series[帶入跟你的資料筆數一樣多True/False list]
# na[na>0] 是篩選操作
na[na>0].sort_values(ascending=False) # ascending=False 降序 True 升序

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [5]:
# s = pd.Series([1,2,3])
# def func(n):
#   return n * n
# s.apply(lambda  n:n*n) #lambda(無名函式):如果只使用一次&功能行數不多, 可以用 lambda

In [6]:
def cabin_head(s):
  if not pd.isna(s):
    return s[0]
data["Cabin"] = data["Cabin"].apply(cabin_head)

In [7]:
dic = data["Ticket"].value_counts()
data["Ticket"] = data["Ticket"].apply(lambda t:dic[t])

In [8]:
# 補缺失值(類別:最常出現)[!如果一堆測試資料, 不要重算, 直接補S]
most = data["Embarked"].value_counts().idxmax()  #找 index 最大值
data["Embarked"] = data["Embarked"].fillna(most)
na = data.isna().sum()
na[na>0].sort_values(ascending=False)

Cabin    1014
Age       263
Fare        1
dtype: int64

In [9]:
# 補缺失值(數值:中位數)
med = data.median().drop(["Pclass"])
data = data.fillna(med)
na = data.isna().sum()
na[na>0].sort_values(ascending=False)

Cabin    1014
dtype: int64

In [10]:
def name_convert(s):
  # s = "Braund, Mr. Owen Harris"
  s = s.split(",")[-1].split(".")[0]
  s = s.strip()
  return s
counts = data["Name"].apply(name_convert).value_counts()
whitelist = counts[counts > 50].index #白名單, 其他項目太少就去掉了, ex:船長,大副等等
def name_convert(s):
  s = s.split(",")[-1].split(".")[0]
  s = s.strip()
  if s in whitelist:
    return s
  else:
    return None
data["Name"] = data["Name"].apply(name_convert)

In [11]:
data = pd.get_dummies(data)
data = pd.get_dummies(data, columns=["Pclass"])
data

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [12]:
# 模型建立完, 後續的嘗試, 老師嘗試過了, 所以直接做.
data["Family"] = data["SibSp"] + data["Parch"]
data

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [13]:
print(len(data))
print(data.shape)

1309
(1309, 26)

In [ ]:
# .loc (根據列編號), .iloc(根據第幾個)(O)
# .iloc [第一列, 第二列, ...]
x_train = data.iloc[:train_df.shape[0]]
y_train = train_df["Survived"]
x_predict = data.iloc[train_df.shape[0]:]
# x_train
# x_predict

In [23]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.model_selection import GridSearchCV
params = {
    #1.5, 2.[1,2,3], 3.range
    #20~99
    "n_estimators":range(20,100),
    #3~10
    "max_depth":range(3,11)
}
clf  = RandomForestClassifier
cv = GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train, y_train)
print(cv.best_score_)
print(cv.best_params_)

In [22]:
clf = RandomForestClassifier(n_estimators=25, max_depth=5)
scores = cross_val_score(clf, x_train, y_train, cv=10, n_jobs=-1)
print("10:", scores)
print("average:", np.average(scores))

10: [0.82222222 0.86516854 0.7752809  0.87640449 0.84269663 0.80898876
 0.83146067 0.7752809  0.85393258 0.85393258]
average: 0.8305368289637952