<a href="https://colab.research.google.com/github/Yi-Wei-Lin/Tibame_ML_20210602/blob/main/%E9%A6%99%E8%95%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
import pandas as pd
train_df = pd.read_csv("test.csv", encoding="utf-8")
# x_train.insert(loc = 8, column="month",value=2)

# Month method
def Month(m):
  Month_data = int(m.split("/")[1])
  return Month_data
train_df["Month"] = train_df["Date"].apply(Month)
# Week_day method
def week_day(d):
  d = d.split("/")
  year = int(d[0])+1911
  month = int(d[1])
  day = int(d[2])
  temp = pd.Timestamp(f"{year}-{month}-{day}")
  week_day = temp.dayofweek + 1 #temp.dayofweek 0(禮拜一) 開始, +1是因為比較直接禮拜幾
  return week_day
train_df["Week_day"] = train_df["Date"].apply(week_day)
# Rest_market
for i in range(0,len(train_df["Market"])):
  train_df["Market"][i] = train_df["Market"][i].split(" ")[1]
train_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Date Market  Product Up_price  ...  Avg_price  Volume  Month Week_day
0      090/01/01    台北二  A1 香蕉         35  ...       30.4   2,679      1        1
1      090/01/02    台北二  A1 香蕉       32.9  ...       26.3   4,589      1        2
2      090/01/03    台北二  A1 香蕉       32.7  ...       26.8   5,437      1        3
3      090/01/05    台北二  A1 香蕉       32.5  ...       25.2   7,835      1        5
4      090/01/06    台北二  A1 香蕉       29.8  ...       24.3   5,896      1        6
...          ...    ...      ...      ...  ...        ...     ...    ...      ...
56452  110/06/12    台東市  A1 香蕉         32  ...       22.8   3,007      6        6
56453  110/06/13    台東市  A1 香蕉         30  ...       27.9   3,558      6        7
56454  110/06/14    台東市  A1 香蕉         30  ...       22.9   2,857      6        1
56455  110/06/17    台東市  A1 香蕉         33  ...       20.8   3,052      6        4
56456  110/06/19    台東市  A1 香蕉         36  ...       25.3   2,085      6        6

[56457 rows x 10 columns]

In [94]:
t_index = pd.date_range('2019
-10-11', '2019-11-11', freq='D')
# train_df
print(t_index)

DatetimeIndex(['2019-10-11', '2019-10-12', '2019-10-13', '2019-10-14',
               '2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18',
               '2019-10-19', '2019-10-20', '2019-10-21', '2019-10-22',
               '2019-10-23', '2019-10-24', '2019-10-25', '2019-10-26',
               '2019-10-27', '2019-10-28', '2019-10-29', '2019-10-30',
               '2019-10-31', '2019-11-01', '2019-11-02', '2019-11-03',
               '2019-11-04', '2019-11-05', '2019-11-06', '2019-11-07',
               '2019-11-08', '2019-11-09', '2019-11-10', '2019-11-11'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
老師不好意思, 想詢問一下專題上遇到的問題, 第一張圖是專題大概的簡介(農產品價格預測), 第二章圖是目前遇到的困難, 
由於目前 input data 有很多批發市場(~13個左右), 每個市場都有不同的價格, 之前聽宇春老師的意思好像可以全部 data
都丟進去 model 裡面 training, 可是每種批發價格都不一樣, 這樣預測的價格不會有問題嗎, 還是我有 13 個批發市場
我可以 output 13個批發市場的預測價格呢??, 我有點不太懂, 所以想詢問一下你的建議, 感謝.
另外想問一下 13個批發市場每天不一定都有開市, 有些市場與其他市場休市時間不一樣, 假設110/06/06 有13個開市13個價格
跟 110/06/07 有10個開市10個價格, 這樣 input data 會不會有問題, 是否要補齊其他3個休市的缺失值呢??
然後氣候特徵工程的補缺失值得部分, 像是我有一些氣象資料有缺可能某些縣市會缺很多 data, 這種是要靠鄰近的縣市補強, 還是就直接省去呢??